  <h1 id="first"> THE  QUOTE APP CREATOR</h1>

<div id="quote-box">
    <h1 id="text"><i class="fa fa-quote-left"></i> {{ quote }}</h1>
    <p id="author">- {{ author }}</p>
    <div class="btn-row">
      <button class="btn btn-primary" id="new-quote" (click)="getNewQuote()">
        Create quote
      </button>
      <div class="btn-row">
        <button class="btn btn-warning" id=" upvote" (click)="upvotes()">
          upvote
        </button>
        <p id="no">{{numberofupvotes}}</p>
        <div class="btn-row">
            <button class="btn btn-danger" id="downvote" (click)="downvotes()">
              downvote
            </button>
            <p id="no">{{numberofdownvotes}}</p>
           
            <button class="btn btn-secondary" id="delete" (click)= 'goalDelete(true)' >
                Delete
              </button>
    </div>
  </div>
